---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
import Footercard from "../components/FooterCard.astro";
import Musicplayercard from "../components/MusicplayerCard.astro";
import Aboutme from "../components/AboutMe.astro";
import Musicplayercardtracklist from "../components/MusicplayerCardTrackList.astro";

const seo = {
  title: "Guillermo Zaandam`s about",
  description:
    "Guillermo Zaandam`s about",
};
---

<Layout {seo}>
  <Container>
    <div class="space-y-2">
      <Navbar />
      <Aboutme />
      <Musicplayercard />
      <Musicplayercardtracklist />
      <Footercard />
    </div>
    </div></Container
  >
</Layout>
