---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
import Herocard from "../components/HeroCard.astro";
import Footercard from "../components/FooterCard.astro";
import Musicplayercard from "../components/MusicplayerCard.astro";
import BlogPostPreviewCard from "../components/BlogPostPreviewCard.astro";

const seo = {
  title: "Astro Minimal Starter",
  description:
    "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.",
};
---

<Layout {seo}>
  <Container>
    <Navbar />
    <Herocard />
    <Musicplayercard />
    <BlogPostPreviewCard />
    <Footercard />

    <a href="/blog">Blog →</a>
  </Container>
</Layout>
