---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
import Herocard from "../components/HeroCard.astro";
import Footercard from "../components/FooterCard.astro";
import Musicplayercard from "../components/MusicplayerCard.astro";
import BlogPostPreviewCard from "../components/BlogPostPreviewCard.astro";

const seo = {
  title: "Guillermo Zaandam`s blog",
  description:
    "Guillermo Zaandam`s blog",
};
---

<Layout {seo}>
  <Container>
    <div class="space-y-2">
      <Navbar />
      <Herocard />
      <Musicplayercard />
      <BlogPostPreviewCard />
      <Footercard />
    </div>
    </div></Container
  >
</Layout>
