<div
  class="card rounded-box min-h-screen shadow-xl select-none bg-pink-600 text-white bg-opacity-60 dark:bg-purple-600 dark:bg-opacity-60 transition-all duration-3000"
>
  <figure>
    <div class="">
      <!-- Avatar -->
      <div class="avatar mt-20">
        <div
          class="ring-primary ring-offset-base-100 w-48 rounded-full ring ring-offset-2 pointer-events-none"
        >
          <img src="/assets/img/guillermo.jpg" />
        </div>
      </div>
    </div>
  </figure>
  <div class="card-body text-center">
    <h2 class="text-6xl text-bold">Guillermo Zaandam</h2>
    <div class="card-actions justify-end">
      <!-- <button class="btn btn-primary">Buy Now</button> -->
    </div>
    <div>
      <!-- Interactive wallpaper desktop -->
      <div class="hidden sm:card glass rounded-box overflow-hidden w-full h-full">
        <figure class="rounded-box">
          <div class="iactiveImg" data-ii="60949"></div><script
            src="https://interactive-img.com/js/include.js"></script>
        </figure>
        <!-- <div class="card-body">
          <h2 class="card-title">Life hack</h2>
          <p>How to park your car at your garage?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Learn now!</button>
          </div> -->
        </div>
      </div>
      <div>
      <!-- Interactive wallpaper mobile -->
      <div class="sm:hidden card glass rounded-box overflow-hidden w-full h-full">
        <figure class="rounded-box">
          <div class="iactiveImg" data-ii="60951"></div><script src="https://interactive-img.com/js/include.js"></script>
        </figure>
        <!-- <div class="card-body">
          <h2 class="card-title">Life hack</h2>
          <p>How to park your car at your garage?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Learn now!</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
