<div
  class="bg-pink-600 dark:bg-purple-600 bg-opacity-60 dark:bg-opacity-60 shadow-xl rounded-box min-h-screen text-white transition-all duration-3000 select-none card"
>
  <figure>
    <div class="">
      <!-- Avatar -->
      <div class="mt-20 avatar">
        <div
          class="rounded-full ring ring-primary ring-offset-2 ring-offset-base-100 w-48 pointer-events-none"
        >
          <img src="/assets/img/profile.webp" />
        </div>
      </div>
    </div>
  </figure>
  <div class="text-center card-body">
    <h2 class="text-bold text-6xl">Guillermo Zaandam</h2>
    <div class="justify-end card-actions">
      <!-- <button class="btn btn-primary">Buy Now</button> -->
    </div>
    <div>
      <!-- Interactive wallpaper desktop -->
      <!-- <div class="hidden rounded-box w-full h-full overflow-hidden sm:card glass">
        <figure class="rounded-box">
          <div class="iactiveImg" data-ii="60949"></div><script
            src="https://interactive-img.com/js/include.js"></script>
        </figure> -->
        <!-- <div class="card-body">
          <h2 class="card-title">Life hack</h2>
          <p>How to park your car at your garage?</p>
          <div class="justify-end card-actions">
            <button class="btn btn-primary">Learn now!</button>
          </div> -->
        </div>
      </div>
      <div>
      <!-- Interactive wallpaper mobile -->
      <!-- <div class="sm:hidden rounded-box w-full h-full overflow-hidden card glass">
        <figure class="rounded-box">
          <div class="iactiveImg" data-ii="60951"></div><script src="https://interactive-img.com/js/include.js"></script>
        </figure> -->
        <!-- <div class="card-body">
          <h2 class="card-title">Life hack</h2>
          <p>How to park your car at your garage?</p>
          <div class="justify-end card-actions">
            <button class="btn btn-primary">Learn now!</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
