<div
  class="card rounded-box min-h-screen shadow-xl select-none bg-pink-600 text-white bg-opacity-60 dark:bg-purple-600 dark:bg-opacity-60 transition-all duration-3000"
>
  <figure>
    <div class="">
      <div class="avatar mt-20">
        <div
          class="ring-primary ring-offset-base-100 w-48 rounded-full ring ring-offset-2 pointer-events-none"
        >
          <img src="/assets/img/guillermo.png" />
        </div>
      </div>
      <!-- <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
        alt="Shoes"
      /> -->
    </div>
  </figure>
  <div class="card-body text-center">
    <h2 class="text-6xl text-bold">Guillermo Zaandam</h2>
    <p>
      Ciao, sono Guillermo Se traduci questo sei un nerd, scriverò qualcosa qui
      più tardi
    </p>
    <div class="card-actions justify-end">
      <!-- <button class="btn btn-primary">Buy Now</button> -->
    </div>
  </div>
</div>
