<div
  class="hero min-h-screen rounded-box"
  style="background-image: url('/assets/hero.jpg');"
>
  <div class="hero-overlay bg-opacity-30 rounded-box"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl text-white font-bold">Guillermo Zaandam</h1>
      <p class="mb-5 text-white">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
    </div>
  </div>
</div>
