<div
  class="hero min-h-screen rounded-box"
  style="background-image: url('/assets/hero.jpg');"
>
  <div class="hero-overlay bg-opacity-40 rounded-box"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w mb-40 lg:mb-auto">
      <h1
        class="mb-5 text-3xl text-white font-extrabold uppercase lg:text-7xl lg:tracking-widest"
      >
        Guillermo Zaandam
      </h1>
      <!-- <p class="mb-5 text-white text-extabold uppercase">Web development</p>
      <p class="mb-5 text-white text-extrabold uppercase">My blog</p> -->
    </div>
  </div>
</div>
