---
import { Image } from 'astro:assets';
import heroImage from '/src/images/herovideo.webp';
---

<div class="rounded-box min-h-screen overflow-hidden hero">

  {/* Images has to be better: https://docs.astro.build/en/guides/images/#display-optimized-images-with-the-image--component */}
  
    <Image class="min-w-full min-h-full object-cover" src={heroImage} decoding="async" loading="lazy" alt="A description of my image." />
     <!-- <video class="min-w-full min-h-full object-cover" autoplay="true" muted="true" loop="true" width="100%" height="100%" preload="none" poster="/src/images/hero.jpg" transition:persist>
      <source src="/src/assets/images/herovideo.webp" type="video/webp">
    </video> -->

  <div class="bg-opacity-70 rounded-box"></div>
  <div class="text-neutral-content hero-content">
    <div class="lg:mb-auto max-w">
      <h1
        class="mb-5 font-extrabold text-white text-3xl lg:text-6xl uppercase lg:tracking-widest select-none"
      >      
        Guillermo Zaandam
      </h1>
      <h1
        class="mb-5 font-extrabold text-white text-3xl lg:text-5xl text-center uppercase lg:tracking-widest select-none"
      >      
        
      </h1>
      <!-- <p class="mb-5 text-extabold text-white uppercase">Web development</p>
      <p class="mb-5 text-extrabold text-white uppercase">My blog</p> -->
    </div>
  </div>
</div>