<div
  class="md:flex flex-col w-full h-auto rounded-box bg-gradient-to-r from-purple-600 via-blue-600 to-pink-600 text-white"
>
  <div
    class="place-items-center rounded-box h-auto hover:bg-purple-800 duration-1000"
  >
    <div
      class="font-semibold grid grid-cols-1 mx-6 h-auto w-auto lg:grid lg:grid-cols-3"
    >
      <img src="https://vehicle-audio-spotify.vercel.app/top-tracks?i=1" />

      <img src="https://vehicle-audio-spotify.vercel.app/top-tracks?i=2" />

      <img src="https://vehicle-audio-spotify.vercel.app/top-tracks?i=3" />

      <img src="https://vehicle-audio-spotify.vercel.app/top-tracks?i=4" />

      <img src="https://vehicle-audio-spotify.vercel.app/top-tracks?i=5" />

      <img src="https://vehicle-audio-spotify.vercel.app/top-tracks?i=6" />

      <!-- <a href="https://vehicle-audio-spotify.vercel.app/now-playing?open">
        <img
          src="https://spotify-github-profile.kittinanx.com/api/view?uid=guillermovandepetteflat&cover_image=true&theme=novatorem&bar_color=ffffff&bar_color_cover=false"
          width="2000vh"
        />
      </a> -->
      <!-- <p class="text-center text-xs">Currently listening on Spotify</p> -->
    </div>
  </div>
</div>
