<div
  class="flex w-full flex-col rounded-box bg-gradient-to-r from-purple-800 via-blue-700 to-pink-800 text-white dark:bg-gradient-to-r dark:from-purple-600 dark:via-gray-900 dark:to-pink-600"
>
  <div
    class="card rounded-box grid h-28 place-items-center object-fill hover:bg-purple-800 duration-1000"
  >
    <div class="text-center font-semibold text-xl ">
      <div>
      <p>EA Trax ™</p>
      <a href="https://vehicle-audio-spotify.vercel.app/now-playing?open">
        <img
          src="https://vehicle-audio-spotify.vercel.app/now-playing"
          width="100%"
          height="100%"
          alt="Music player shows the song that Guillermo is currently listening on Spotify"
        />
      </a>
      <p class="text-center text-xs">Currently listening on Spotify</p>
    </div>
  </div>
</div>
